// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

* {
  font-family: "Open Sans", sans-serif;
}

body {
  background: #181823;
  color: #ffffff;
}

.main-content {
  padding-top: 80px;
}
